body {
    background: linear-gradient(to right, pink, hotpink);
    height: 100%;   
}

#formContainer {
    background: white;
    min-width: 225px;
    max-width: 550px;
    height: 200px;
    display: table;
    margin: 120px auto 0;
    bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: double 1px;
}


#filterInput {
    width: 300px;
    height: 25px;
    
}

#enterInput {
    width: 300px;
    height: 25px;
    
}

button {
    background-color: hotpink;
    width: 306px;
    height: 25px;
    margin-top: 10px;
    color: ghostwhite;
    font-size: 20px;
}

#close-button {
    float: right;

}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#welcomeDiv {
    background-color: ghostwhite;
    width: 500px;
    height: 150px;
    border: solid 1px;
    margin: 250px auto 0;
    padding-left: 25px;
    
    
}

#enterButton {
    float: right;
    padding-right: 50px;
    color: deeppink;
}

#backButton {
    color: deeppink;
}


